*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e6e7e6;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    padding: 1.4rem 0;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    flex: 0 0 calc(100% - 25px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    border-bottom: #d1d3d2 3px solid;
    border-right: #d1d3d2 3px solid;
    border-radius: 0.5rem;
    max-height: 300px;
}

.image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hover-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}
p {
    padding: 8px 0;
}
.author {
    font-style: italic;
    font-size: 5vw;
}

.photo-name {
    font-weight: bolder;
    font-size: 6vw;
}

.hover-container p.expanded {
    white-space: normal;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}

.hover-container p {
    overflow: hidden;
    text-align: center;
    white-space: normal;
    max-width: 90%;
}

.divider {
    border: 1px solid white;
    width: 4rem;
    margin: 0;
}

.btn {
    padding: 2vw 4vw;
    border: white 1px solid;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 4vw;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 520px) and (max-width: 768px) {
    .image {
        flex: 0 0 calc(45% - 10px);
    }
    .hover-container {
        padding-bottom: 0.8rem;
    }
    .btn {
        font-size: 2vw;
        padding: 1vw 2vw;
    }
    .author {
        font-size: 2vw;
    }

    .photo-name {
        font-size: 2.5vw;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .image {
        flex: 0 0 calc(35% - 10px);
    }
    .hover-container {
        padding-bottom: 0.5rem;
    }

    .btn {
        font-size: 1.4vw;
        padding: 0.5vw 1.5vw;
    }
    .author {
        font-size: 1.3vw;
    }

    .photo-name {
        font-size: 1.8vw;
    }
}
@media (min-width: 1024px) {
    .image {
        flex: 0 0 calc(25% - 10px);
    }

    .btn {
        font-size: 1vw;
        padding: 0.5vw 1.2vw;
    }
    .author {
        font-size: 1.3vw;
    }

    .photo-name {
        font-size: 1.5vw;
    }
}
